@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700;800;900&display=swap');

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color: rgb(226, 231, 230);
  font-weight: 500;
  background-color: #02110da1;

  background-image: url(img/26_adobe_express.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* 15 26 35 39 43 46  */
}

/* header {
  max-width: 800px;
  margin: 0 auto;
} */

h1 {
  font-family: 'Cinzel', serif;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  color: #02110d;
  font-weight: 900;
  background-image: linear-gradient(to right,rgba(32, 40, 39, 0.4), rgba(255, 255, 255, 0.5), rgba(32, 40, 39, 0.4));
}

p {
  margin: 1rem auto;
  text-align: center;
  color: #02110d;
  font-weight: 600;
  font-size: 1.3rem;
}


/* main {
  margin: 0 auto;
  max-width: 800px;
  border: none;

  background-image: url(img/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
  padding: 1rem 0;
} */

section {
  margin: 1rem auto 2rem auto;
  max-width: 600px;
  width: 75vw;
  min-width: 350px;
  /* background-color: hsla(15, 17%, 9%, 0.637); */
}

label {
  display: block;
  margin: 0.5rem 0;
}

input, textarea, select {
  width: 98%;
  margin: 0.5rem 0 0 0;
  padding: 0.3rem;
  color: #3a3b3b;
  /* background-color: #68726f; */
  border: 1px solid hsla(173, 95%, 9%, 0.479);
  font-size: 1.1rem;
}

input[type="radio"], input[type="checkbox"] {
  width: unset;
  margin: 0 0.5rem 0 0;
  /* vertical-align: middle; */
}

fieldset {
  margin: 1rem 0 0 0;
  /* border: 5px double rgb(104,5,5); */
  border: 5px double #02110d;
  background-color: hsla(165, 80%, 4%, 0.9);
  letter-spacing: 0.05rem;
}

legend {
  color: #02110d;
  font-family: 'Cinzel', serif;
  font-size: 1.1rem;
  font-weight: 700;
  background-image: linear-gradient(to right,rgba(65, 80, 78, 0.8), rgba(255, 255, 255, 0.8), rgba(65, 80, 78, 0.8));
}

button {
  margin: 1rem auto;
  display: block;
  width: 60%;
  padding: 0.2rem;
  font-size: 1.1rem;
  font-family: 'Cinzel', serif;

  background-color: rgb(2, 17, 13, 0.91);
  /* background-color: hsla(0, 0%, 0%, 0.5); */
  color: rgb(226, 231, 230);
  border: 4px double #02110d;

  box-shadow: 2px 2px 5px 0 rgb(1, 27, 16);
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color:rgb(2, 17, 13, 0.8);
  /* border-color: hsla(174, 68%, 6%, 0.8); */
}

button:active {
  background-color:rgb(2, 17, 13, 0.5);
}

/* favourite dark color for the theme #051a18 */

/* media-queries */

/* @media screen and (min-width: 576px) {
  body {
    background-image: url(images/7.jpg);
    background-size: 700px;
  }
}
 */
